<section
  class="hero relative lg:pt-[260px] max-lg:pt-[160px] pb-[140px] overflow-hidden lg:overflow-visible"
>
  <div
    class="absolute inset-0 bg-[url('https://cdn.whatnot.com/assets/landing/creator-landing/clouds-bg-277ac5282b13c31d1023d537a4569e1f133887c34b174b09e25d6b4162e03947.png')] bg-cover bg-center"
  ></div>

  <!-- A semi-transparent overlay to ensure text is readable over the background -->
  <div class="absolute inset-0 bg-blue-900/40"></div>

  <div class="container relative z-10 py-1 sm:py-1">
    <div class="flex flex-col items-center text-center mx-auto">
      <!-- Main Headline -->
      <!-- <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl max-w-4xl">
        The complete creator toolkit
        <span class="block font-serif italic font-normal mt-2">to Grow and Monetize</span> -->
        <h1 class="text-3xl font-bold tracking-tight text-white sm:text-5xl lg:text-5xl max-w-4xl">
          AI Powered Invoicing Kit That Allows You To Send Invoices and Get Paid Globally
        </h1>

      <!-- Subheading -->
      <p class="mt-6 text-lg leading-8 text-gray-200 max-w-2xl">
        A Powerful System Built For The Creator Economy and Brave Small Businesses ! (With 💚 From India). Easy to Integrate with AI Agents
      </p>

      <!-- Call-to-Action Button -->
      <a
            href="https://timesync.novocall.co/growglobal/lets-meet"
            target="_blank"
            class="btn mt-5"
          >
            Get a Demo
          </a>

      <!-- Video Player -->
      <div class="mt-16 w-full max-w-4xl">
        <!-- Wrapper div for the border/glow effect -->
        <iframe
      width="560"
      height="560"
      data-src="https://www.youtube.com/embed/YiAssEeZTRQ"
      title="YouTube video player"
      style="border: none;"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      class="w-full rounded-medium shadow-nav lazy-iframe"
      loading="lazy"
    ></iframe>
      </div>
    </div>
  </div>
</section>
